.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: red;
  color: white;
  font: inhet;
  border: 1px solid red;
  padding: 6px;
  cursor: pointer;
}

.Button:hover {
  background-color: coral;
  color: black;
}

.Button.Green {
  background-color: green;
}

.Button.Green:hover {
  background-color: Aquamarine;
  color: black;
}
